<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <img src='https://cdn.britannica.com/01/81401-050-8EB87030/planets-solar-system-Pluto-montage-images-Sun.jpg' alt="Solar System" >
    <img src='https://solarsystem.nasa.gov/system/resources/detail_files/545_solarsystem_0.jpg' alt='Solar System with missions sent to each planet' >
  </body>
</html>